@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Darker+Grotesque&family=Prosto+One&display=swap');

.general-container {
    height: calc(100vh - 1em);
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.first-div {
    flex-grow: 2;
    margin-top: 0.2em;
    font-family: 'Prosto One', cursive;
    font-weight: bold;
    font-size: calc(1em + 1vw + 1vh);
}

.second-div {
    flex-grow: 50;
    display: flex;
}

.third-div {
    flex-grow: 2;
    display: flex;
}

/*.title {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 32px;
    flex: 0 1 100vw;
    min-width: 0;
}*/

#text {
    flex-grow: 1;
    font-family: 'Comfortaa', cursive;
    font-size: calc(1em + 0.2vw + 0.2vh);
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999;
}

.buttons-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.button {
    flex: 1;
    font-family: 'Prosto One', cursive;
    font-size: calc(1.2em + 0.05vw);
    background-color: #e7d34f;
    border-radius: 8px;

    border: 0;
    margin: 4vh 1vw 5vh 1vw;
}

.button:hover{
    background: #cbb10e;
    cursor: pointer;
}

body {
    background-color: khaki;
}

#save-text-file {
    background-color: #b0bb12;
}

#save-text-file:hover{
    background: #949d11;
    cursor: pointer;
}

input, textarea {
    max-width: 100%;
    max-height: 100%;
}

